.container-admin {
    background-color: rgb(24, 26, 27);
    padding: 70px 50px 70px 50px;
    max-width: 1260px;
    color: #ffffff;
    
    @media screen and (min-width: #{$screen-sm-min}) {
        padding: 100px 100px 70px 100px;
    }

    .permissions-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @media screen and (min-width: #{$screen-sm-min}) {
            flex-direction: row;
        }

        .user {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 15px;
            padding: 20px;

            @media screen and (min-width: #{$screen-sm-min}) {
                padding: 20px;
            }
        }
    }
}
